// General

body
  background-color: #e6e6e6
  font-family: "Open Sans", sans-serif
  font-size: 16px

a
  transition 0.2s ease-in
  text-decoration: none
  &:hover
    opacity: 0.6

.container
  width: 1170px
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px

// Navbar

nav.guest-nav
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: 1000
  background-color: transparent
  border-color: rgba(255,255,255,0.25)
  border-bottom: 1px
  color: white

.nav-content
  padding: 13px 0 13px 0

ul
  margin: 0
  padding: 0
  list-style: none

ul.nav > li
  display: inline
  & > a
    display: inline-block
    color: white
    padding: 15px
    line-height: 20px

// Hero Section

section.hero
  position: relative
  height: 100vh

.hero-media
  width: 100%
  height: 100%

.hero-media-overlay
  position: absolute
  z-index: 200
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  background-image: url("../img/hero-grid.png")

.hero-media-fallback
  position: absolute
  z-index: 100
  width: 100%
  height: 100%
  background-position: center top
  background-size: cover
  background-image: url("../img/hero-fallback.jpg")
