// Variables
gray = #e6e6e6

// General

@font-face
  font-family klavika
  src url("../font/klavika.otf")

*
  box-sizing border-box

body
  overflow-x hidden
  background-color gray
  font-family "Open Sans", sans-serif
  font-size 16px

a
  transition 0.2s ease-in
  text-decoration none
  &:hover
    opacity 0.6

p
  margin 0 0 10px

for num in (1..6)
  h{num}
    margin-top 20px
    margin-bottom 10px
    line-height 1.1
    font-family "klavika", Helvetica, Arial, sans-serif
    font-weight normal
    color #484848

h1, .h1
  font-size 36px

.subtitle
  line-height 1.5
  font-weight bold
  color #545353

.btn
  display inline-block
  border-radius 4px
  border 1px solid
  font-size 14px
  padding 10px 20px

.facebook-btn
  background-color #3b5998
  color white
  border 0
  &:hover
    opacity 1
    background-color #2d4373

.underline
  border-bottom 1px solid

.container
  max-width 1170px
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px

main.landing
  h1
    color #484848
  section
    padding-top 30px
    text-align center
    &:nth-child(even)
      background white

// Navbar

nav.top-nav
  position fixed
  left 0
  right 0
  top 0
  z-index 1000
  height 80px

nav.landing-nav
  background-color transparent
  border-bottom 1px solid rgba(255 255 255 0.25)
  color white

.nav-content
  height 100%
  display flex
  justify-content space-between
  padding auto 0 auto 0

ul
  margin 0
  padding 0
  list-style none

ul.nav > li
  display inline-block
  & > a
    display inline-block
    color white
    line-height 20px

for area in left center right
  .nav-{area}
    display flex
    align-items center

.nav-left
  flex 1
  justify-content flex-start
  ul.nav > li
    margin-right 15px
.nav-center
  justify-content center
  ul.nav > li
    margin 7px
.nav-right
  flex 1
  justify-content flex-end
  ul.nav > li
    margin-left 15px

img.nav-logo
  height 50px
  width auto

// Hero Section

section.hero
  position relative
  overflow hidden
  height 100vh
  padding 0
  color white
  font-size 19px
  a
    color white

.hero-media *
  position absolute
  top 0
  left 0
  min-width 100%
  min-height 100%

.hero-media-overlay
  z-index -100
  background-color rgba(0 0 0 0.5)
  background-image url("../img/hero-grid.png")

.hero-media-fallback
  z-index -300
  background-position center top
  background-size cover
  background-image url("../img/hero-fallback.jpg")

video.hero-media-video
  z-index -200

.hero-introduction
  height 100%
  max-width 600px
  padding 15px
  margin auto
  display flex
  flex-flow column
  justify-content center
  align-items center
  > *
    margin-top 0
    margin-bottom 15px

img.hero-introduction-brand
  width 260px
  max-width 100%
  height auto

.hero-btn
  max-width 300px
  font-size 18px

.hero-learn-more
  position absolute
  bottom 50px
  left 50%
  margin-left -25px
  min-width 50px

// General sections

.section-content
  max-width 800px
  padding 0 15px
  margin auto

.section-description
  color #707070
  font-size 20px
  margin 30px 0
