// General

@font-face
  font-family klavika
  src url("../font/klavika.otf")

*
  box-sizing border-box

body
  overflow-x hidden
  background-color #e6e6e6
  font-family "Open Sans", sans-serif
  font-size 16px

  // for footer
  margin-bottom 80px
  box-shadow 0 0 25px 10px rgba(20,20,30,0.2)

img
  max-width 100%
  vertical-align middle

ul
  padding 0
  list-style none

a
  transition 0.2s ease-in
  text-decoration none
  &:hover
    opacity 0.6

p
  margin 0 0 10px

for num in (1..6)
  h{num}
    margin-top 20px
    margin-bottom 10px
    line-height 1.1
    font-family "klavika", Helvetica, Arial, sans-serif
    font-weight normal
    color #484848

h1, .h1
  font-size 36px

.subtitle
  line-height 1.5
  font-weight bold
  color #545353

.btn
  display inline-block
  border-radius 4px
  border 1px solid
  padding 10px 30px

.btn-facebook
  background-color #3b5998
  border-color #3b5998
  color white
  &:hover
    opacity 1
    background-color #2d4373

.btn-faded
  color #777
  border-color #BABABA

.underline
  border-bottom 1px solid

.container
  max-width 1170px
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px

.main-landing
  h1
    color #484848
  section
    text-align center
    overflow hidden
    &:last-child
      padding-bottom 70px
    &:not(.hero)
      padding-top 30px
      &:nth-child(even)
        background white
      &:nth-child(odd)
        background #f0f0f0

// Navbar

.top-nav
  z-index 1000
  position fixed
  left 0
  right 0
  top 0
  height 80px

.landing-nav
  background-color transparent
  border-bottom 1px solid rgba(255 255 255 0.25)
  color white
  &.inverse
    background-color rgba(255,255,255,0.9)

.nav-content
  height 100%
  display flex
  justify-content space-between
  padding auto 0 auto 0

.nav-items > li
  display inline-block
  & > a
    display inline-block
    color white
    line-height 20px
    &.btn
      font-size 14px
      padding-left 20px
      padding-right 20px

for area in left center right
  .nav-{area}
    display flex
    align-items center

.nav-left
  flex 1
  justify-content flex-start
  .nav-items > li
    margin-right 15px
.nav-center
  justify-content center
  .nav-items > li
    margin 7px
.nav-right
  flex 1
  justify-content flex-end
  .nav-items > li
    margin-left 15px

.nav-logo
  height 50px
  width auto

// Hero Section

.hero
  position relative
  overflow hidden
  height 100vh
  color white
  font-size 19px
  a
    color white

.hero-media *
  position absolute
  top 0
  left 0
  min-width 100%
  min-height 100%

.hero-media-overlay
  z-index -100
  background-color rgba(0 0 0 0.5)
  background-image url("../img/hero-grid.png")

.hero-media-fallback
  z-index -300
  background-position center top
  background-size cover
  background-image url("../img/hero-fallback.jpg")

.hero-media-video
  z-index -200

.hero-introduction
  height 100%
  max-width 600px
  padding 15px
  margin auto
  display flex
  flex-flow column
  justify-content center
  align-items center
  > *
    margin-top 0
    margin-bottom 15px

.hero-introduction-brand
  width 260px
  max-width 100%
  height auto

.btn-hero
  max-width 300px
  padding-left 50px
  padding-right 50px
  font-size 18px

.hero-learn-more
  position absolute
  bottom 50px
  left 50%
  margin-left -25px
  min-width 50px

// General sections

.section-content
  max-width 830px
  padding 0 15px
  margin auto

.section-description
  color #707070
  font-size 20px
  margin 30px 0

// Ready section

.ready-buttons
  margin 40px -5px 0 -5px
  & > li
    display inline
    margin 5px

// Footer

.global-footer
  z-index -1000
  display flex
  align-items center
  justify-content space-between
  position fixed
  bottom 0
  width 100%
  height 80px
  background-color #4B5360

.footer-links
  color #9aa4b4
  font-size 14px
  & > li
    display inline-block
    &:nth-child(n+1)
      margin-left 10px
    & > a
      color #cfd6e2

.footer-img
  flex-basis 30px
  width 30px
  height auto
