doctype html
html(lang="en")
  head
    title Hummingbird
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" type"text/css" href="https://fonts.googleapis.com/css?family=Arvo")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" type="text/css" href="./css/index.css")
  body
    nav.top-nav.landing-nav
      .nav-content.container
        .nav-left
          ul.nav-items
            li: a(href="#") Browse Anime
        .nav-center
          a(href="#"): img.nav-logo(src="./img/logo.png")
        .nav-right
          ul.nav-items
            li: a(href="#").btn.btn-landing-nav Login
            li: a(href="#").btn.btn-landing-nav Register
    main.landing-main
      section#hero.hero
        .hero-media
          .hero-media-overlay
          .hero-media-fallback
          video.hero-media-video(preload loop webkit-playsinline="webkit-playsinline" autoplay="autoplay" poster="./img/hero-video-preload.jpg")
            source(type="video/webm" src="./img/hero-video.webm")
        .hero-content
          img.hero-content-brand(src="./img/brand.png")
          p Share anime and manga experiences, get recommendations and see what friends are watching or reading.
          a(href="#").btn.btn-hero.btn-facebook
            i.fa.fa-facebook-square
            |  Login with Facebook
          p or 
            a(href="#").underline register with your email
          a.hero-learn-more(href="#about"): img.chevron-down(alt="Learn More" src="./img/chevron-down.svg")
      section#about
        .section-content
          h1 Hummingbird is kawaii, baka gaijin.
          p.subtitle Our obnoxious use of worn out Japanese phrases lets you know we're the real deal.
          p.section-description
            | Your personal activity feed allows you to share your experiences, news, videos, images and music
            | with other anime and manga fans that are following you.
          img(src="./img/profile-preview.jpg")
      section#recent
        .container
          h2 Recent Posts on Hummingbird
          // TODO
          img(src="./img/posts-preview.png")
      section#library
        .section-content
          h1 Find your favorites, build your collection.
          p.subtitle Your favorite anime is shit, but we won't hold that against you.
          p.section-description
            | Keep track of what you've seen, read, and look forward to.
            br
            | We'll even tell you how much of your life you've spent watching anime.
          img(src="./img/library-preview.jpg")
      section#ready
        .section-content
          h1 Ready to get started?
          p.subtitle We're glad you've finally noticed us, senpai ...uguu.
          .ready-buttons
            a.btn.btn-faded(href="#") Register with Email
            a.btn.btn-facebook(href="#") Login with Facebook
    footer.global-footer
      .footer-content.container
        ul.footer-links
          li &copy; 2016 Hummingbird Media, Inc.
          li: a(href="#") Privacy
          li: a(href="#") Contact
        img.footer-img(src="./img/footer-logo.png")

    // Scripts
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(type="text/javascript" src="./js/index.js")
