doctype html
html(lang="en")
  head
    title Hummingbird
    link(rel="stylesheet" type="text/css" href="./css/normalize.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="./css/index.css")
  body
    header
      nav.top-nav.guest-nav
        .nav-content.container
          .nav-left
            ul.nav
              li: a(href="#") Browse Anime
          .nav-center
            a(href="#"): img.nav-logo(src="./img/logo.png")
          .nav-right
            ul.nav
              li: a(href="#").btn.guest-nav-btn Login
              li: a(href="#").btn.guest-nav-btn Register
    main
      section.hero
        .hero-media
          .hero-media-overlay
          .hero-media-fallback
      section.about
        h2 Hummingbird is kawaii, baka gaijin.
