.btn
  display inline-block
  border-radius 4px
  border 1px solid
  padding 10px 30px

.btn-facebook
  background-color #3b5998
  border-color #3b5998
  color white
  &:hover
    opacity 1
    background-color #2d4373
    border-color #2d4373

.btn-faded
  color #777
  border-color #BABABA
