*
  box-sizing border-box

body
  overflow-x hidden
  background-color #e6e6e6
  font-family "Open Sans", sans-serif
  font-size 16px

  // for footer
  margin-bottom 80px
  box-shadow 0 0 25px 10px rgba(20 20 30 0.2)

img
  max-width 100%
  vertical-align middle

ul
  padding 0
  list-style none

.container
  max-width 1170px
  margin-left auto
  margin-right auto
  padding-left 15px
  padding-right 15px

.underline
  border-bottom 1px solid
