@font-face
  font-family klavika
  src url("../font/klavika.otf")

a
  transition 0.2s ease-in
  text-decoration none
  &:hover
    opacity 0.6

p
  margin 0 0 10px

for num in (1..6)
  h{num}
    margin-top 20px
    margin-bottom 10px
    line-height 1.1
    font-family "klavika", Helvetica, Arial, sans-serif
    font-weight normal
    color #484848
h1, .h1
  font-size 36px
h2, .h2
  font-size 30px

.subtitle
  line-height 1.5
  font-weight bold
  color #545353
